h1{
    color:maroon;
}

.secondary {
    color: rgb(31, 147, 99);

}
.carousel-container {
    max-width: 800px;
    margin: 2rem auto; /* Add vertical margin */
    padding: 0 1rem; /* Add horizontal padding */
  }
  
  .carousel-item img {
    height: 700px; /* Adjust the height as needed */
    width: 100%; /* Set the width to 100% to maintain aspect ratio */
    object-fit: cover;
  }
/* Style for the container */
.container {
    margin-top: 20px;
  }
  
  /* Style for the columns */
  .col {
    border: 1px solid #990000;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Add some spacing between rows */
  .row {
    margin-bottom: 20px;
  }
  
  /* Additional styling for different alignments */
  .align-items-start .col {
    background-color: #f8d7da; /* Light red background */
  }
  
  .align-items-center .col {
    background-color: #d4edda; /* Light green background */
  }
  
  .align-items-end .col {
    background-color: #10a024; /* Light blue background */
  }

  :root {
    --bs-primary: #011224;
  }

  .footer {
    background-color: #d2d2d2;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  body{
    padding-bottom: 200px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    max-width: 400px;
  }