// Color variables
$primary-color: #f44747;
$secondary-color: #ffffff; 
$accent-color: #5f5f5f; 
$background-color: #950000;
$text-color: #f5f5f5; 

// Import the variables
// @import 'variables';

body {
  background-color: $background-color;
  color: $text-color;
}

header {
  background-color: $primary-color;
  color: #871616; 
}

nav {
  a {
    color: $secondary-color;

    &:hover {
      color: $accent-color;
    }
  }
}